{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <!--Use this when we use redirect-->
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <!--Show this only if you get an error message-->
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if msg %}
  <!--Show this for other messages that are not of danger type-->
  <div class="alert alert-success">{{msg}}</div>
{% endif %}
